#!/bin/bash

CONNECTED=`amixer -D bluetooth | wc -l`
if [ ${CONNECTED} -ne 0 ]; then
	echo "bluetooth is already connected."
	exit 0
fi

sudo bluetoothctl << END_OF_INPUT
pair {{ bluetooth_device_address }}
trust {{ bluetooth_device_address }}
connect {{ bluetooth_device_address }}
END_OF_INPUT

sleep 5

CONNECTED=`amixer -D bluetooth | wc -l`
if [ ${CONNECTED} -eq 0 ]; then
	echo "bluetooth is not connected."
	exit 1
fi

exit 0
