[Unit]
Description = julius daemon

[Service]
ExecStart = /usr/local/bin/julius -C /home/pi/julius_data/robo.conf
Restart = always
Type = simple

[Install]
WantedBy = multi-user.target

