#!/bin/bash

CHART=$1
if [ -n "${CHART}" ]; then
	CHART="hot-100"
fi

cd `dirname $0`

API_KEY={{ google_api_key }}

RULFILE=`tempfile /tmp/you-url-XXXX`

if [ -d ~/.venv_music ]; then
	source ~/.venv_music/bin/activate
fi

echo "Start to get youtube url.."
python get_youtube_url_from_chart.py --api-key=${API_KEY} > ${RULFILE}
if [ $? -ne 0 ]; then
	echo "Failed to run get_youtube_url_from_chart.py"
	rm -f  ${RULFILE}
	exit 1
fi

rm -rf ~/music/${CHART}/*.mp3

echo "Start to get mp3 from youtube.."
youtube-dl --extract-audio --audio-format mp3 --embed-thumbnail -i --metadata-from-title "%(artist)s - %(title)s" --add-metadata --audio-quality 0 -o "~/music/${CHART}/%(title)s.%(ext)s" `head -n 50 ${RULFILE}`
rm -f  ${RULFILE}

echo "Start to put genre tag.."
for file in `ls ~/music/${CHART}/`
do
	mid3v2 -g "${CHART}" ~/music/${CHART}/${file}
done

if [ -d ~/.venv_music ]; then
	deactivate
fi

echo "done"

